.library-wrapper {
    min-width: 80%;
    max-width: 90%;
    transition: transform 30s;
    border-top: 8px solid #42993a;
    margin: 30px auto;
    -webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
    & {
        display: flex;
        flex-direction: column;
    }
}

.library-wrapper:hover {
	-webkit-box-shadow: 10px 10px 15px 0px rgba(205,205,205,1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(205,205,205,1);
    box-shadow: 10px 10px 15px 0px rgba(205,205,205,1);
    transform: translate(-10px, -10px);
}

.map-button-wrapper {
    display: flex;
    justify-content: space-around;

    .map-buttons {
        margin: 10px;
    }
}

.map-wrapper {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #000000;
    width: 100%;

    // 꼭 map이 표시되는 div의 width, height는 고정 길이여야 한다
    div:first-child {
        height: 250px;
        line-height: 250px;

        div {
            height: 70px;
            line-height: 35px;
        }
    }

    a {
        color: #42993a;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #42993a;
    }
}