@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

.header-title-wrapper {
    background-color: #42993a;
    font-family: 'Song Myung' !important;
    margin: 25px 0;
}

.header-district-tab-wrapper {
    display: flex;
    justify-content: space-between;
    
    div {
        flex: 1;
        margin: 5px;
    }
}

.header-search-tab-wrapper {
    display: flex;
    justify-content: space-between;

    :first-child {
        flex-grow: 2;
        margin-right: 10px;
    }
    :last-child {
        flex-grow: 3;
        display: flex;
        justify-content: space-around;
        
        :first-child {
            box-sizing: border-box;
            margin-right: 10px;
            flex-grow: 15;
        }

        :last-child {
            flex-grow: 1;
        }
    }
}
